<title>Librarian View Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <div class="container-fluid">
        <h1 style="text-align: center;font-size: 50px;color:black;">ERP COLLEGE MANAGEMENT</h1><br>
        <h1 style="text-align: center;font-size: 40px;color:black;">{{librarian.collegename | uppercase}}</h1><br>
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/librarianprofile/{{librarian.lid}}">View Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/librarianaddbooks/{{librarian.lid}}">Add Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/librarianviewevent/{{librarian.lid}}">View Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/librarianlogin">Logout</a>
          </li>
        </ul><br><br><br>
        <h3 style="color:maroon;">Librarian {{librarian.librarianusername}} Logged in...</h3>
        <div style="padding:3% 3%;margin: auto;background-color:lightgoldenrodyellow;">

            <div class="row">
                <div class="col-sm">
                <div style="margin: auto;border: 2px solid violet;border-radius: 5px;padding: 5px 26px;width:70%;">
                <h1 class="text-center">Librarian Details</h1><br>
                <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">
                        <img src="assets/icon-g81b0c3767_1920.png" style="width:300px; height:300px;">
                    </div>
                    <div class="col-sm"></div>
                </div><br>
                <table class="table table-dark table-responsive-sm">
                  <tr>
                    <td>Id </td>
                    <td>{{librarian.lid}}</td>
                  </tr>    
                  <tr>
                    <td>Name</td>
                    <td>{{librarian.name}}</td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td>{{librarian.address}}</td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td>{{librarian.email}}</td>
                  </tr>
                  <tr>
                    <td>College Name</td>
                    <td>{{librarian.collegename}}</td>
                  </tr>
                  <tr>
                    <td>Phonenumber</td>
                    <td>{{librarian.phone}}</td>
                  </tr>
                  <tr>
                    <td>Salary</td>
                    <td>{{librarian.salary}}</td>
                  </tr>
                  <tr>
                    <td>Date Of Joining</td>
                    <td>{{librarian.doj}}</td>
                  </tr>
                  <tr>
                    <td>Username</td>
                    <td>{{librarian.librarianusername}}</td>
                  </tr>
                  <tr>
                    <td>Password</td>
                    <td>{{librarian.librarianpassword}}</td>
                  </tr>
              </table><br>
              </div>
              </div>

        
        </div>
    </div>