<title>Librarian Add Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <div class="container-fluid">
        <h1 style="text-align: center;font-size: 50px;color:black;">ERP COLLEGE MANAGEMENT</h1><br>
        <h1 style="text-align: center;font-size: 40px;color:black;">{{librarian.collegename | uppercase}}</h1><br>
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link" routerLink="/librarianprofile/{{librarian.lid}}">View Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/librarianaddbooks/{{librarian.lid}}">Add Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/librarianviewevent/{{librarian.lid}}">View Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/librarianlogin">Logout</a>
          </li>
        </ul><br><br><br>
        <h3 style="color:maroon;">Librarian {{librarian.librarianusername}} Logged in...</h3>
        <div style="padding:3% 3%;margin: auto;background-color:lightgoldenrodyellow;">
        <div class="container-fluid">
          <h1 style="text-align: center;">ADD BOOKS</h1><br>
          <div class="row">
          <div class="col-sm-4">
            <div style="margin:auto;border:2px solid white;border-radius:5px;padding: 10px;">
              <h3 style="text-align: center;">Book Details(All information required*)</h3>
                <form action="#" post="method">
                  <div class="form-group">
                    <label for="bid">Book Id:</label><br>
                    <input type="number" class="form-control" [(ngModel)]="book.bid" placeholder="Enter Book Id while updating Only" id="bid" name="bid">
                  </div><br>
                  <div class="form-group">
                    <label for="bookname">Book Name:</label><br>
                    <input type="text" class="form-control" [(ngModel)]="book.bookname" placeholder="Enter Book Name" id="bookname" name="bookname" required>
                  </div><br>  
                    <div class="form-group">
                        <label for="requestbook">Book Request:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="book.requestbook" placeholder="Enter Book Request" id="requestbook" name="requestbook" required>
                      </div><br>
                      <div class="form-group">
                        <label for="bookissuedetails">Book Issue Details:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="book.bookissuedetails" placeholder="Enter Book Issue Details" id="bookissuedetails" name="bookissuedetails" required>
                      </div><br>
                      <div class="form-group">
                        <label for="issuedate">Issued Date:</label><br>
                        <input type="datetime-local" class="form-control" [(ngModel)]="book.issuedate" placeholder="Enter Issue Date" id="issuedate" name="issuedate" required>
                      </div><br>
                      <div class="form-group">
                        <label for="studentname">Student Name:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="book.studentname" placeholder="Enter Student Name" id="studentname" name="studentname" required>
                      </div><br>
                      <div class="form-group">
                        <label for="returnbook">Return Book:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="book.returnbook" placeholder="Enter Returned Book" id="returnbook" name="returnbook" required>
                      </div><br>
                      <div class="form-group">
                        <label for="returndate">Return Date:</label><br>
                        <input type="datetime-local" class="form-control" [(ngModel)]="book.returndate" placeholder="Enter Return Date" id="returndate" name="returndate" required>
                      </div><br>
                      <div class="form-group">
                        <label for="bookstatus">Book Status:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="book.bookstatus" placeholder="Enter Book Status" id="bookstatus" name="bookstatus" required>
                      </div><br>
                      <div class="form-group">
                        <label for="collegename">College Name:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="book.collegename" placeholder="Enter College Name" id="collegename" name="collegename" required>
                      </div><br>
                    <input type="submit" class="btn btn-primary" style="width:45%;font-size:30px;background-color:blue;color:white;" value="Register" (click)="bookNow()">
                    <input type="submit" class="btn btn-success" style="width:45%;font-size:30px;background-color:coral;color:white;" value="Update" (click)="updateBookNow()"><br>
                
                </form>
                </div>
              </div><br><br><br><br><br>
              <div class="col-sm-8">
                <h3 style="text-align: center;">Search Book By Book Id</h3>
                <br>
                <div class="form-group">
                    <label for="search">Search By Book Id:</label><br>
                    <input type="number" class="form-control" [(ngModel)]="search.a" placeholder="Search By Book Id" id="search" name="search"><br>
                    <button class="btn btn-info btn-xs" (click)="searchById(search.a)"><span class="glyphicon glyphicon-remove"></span> Search</button><br>
                  </div><br>
                  <table class="table table-dark table-responsive">
                    <tr>
                        <th>BId</th>
                        <th>Book Name</th>
                        <th>Book Request</th>
                        <th>Book Issue Details</th>
                        <th>Issue Date</th>
                        <th>Student Name</th>
                        <th>Return Book</th>
                        <th>Return Date</th>
                        <th>Book Status</th>
                        <th>Collegename</th>
                        <th>Delete</th>
                    </tr>
                    <tr >
                        <td>{{book.bid}}</td>
                        <td>{{book.bookname}}</td>
                        <td>{{book.requestbook}}</td>
                        <td>{{book.bookissuedetails}}</td>
                        <td>{{book.issuedate}}</td>
                        <td>{{book.studentname}}</td>
                        <td>{{book.returnbook}}</td>
                        <td>{{book.returndate}}</td>
                        <td>{{book.bookstatus}}</td>
                        <td>{{book.collegename}}</td>
                        <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delBook(book.bid)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                    </tr>
                </table>
                <br>

                <h3 style="text-align: center;">Book Details</h3>
                <br>
                <button class="btn btn-info " (click)="getBook(librarian.collegename)">GET BOOKS</button><br>
                <table class="table table-dark table-responsive">
                  <thead>
                  <tr>
                    <th>BId</th>
                    <th>Book Name</th>
                    <th>Book Request</th>
                    <th>Book Issue Details</th>
                    <th>Issue Date</th>
                    <th>Student Name</th>
                    <th>Return Book</th>
                    <th>Return Date</th>
                    <th>Book Status</th>
                    <th>Collegename</th>
                    <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let book of books">
                    <td>{{book.bid}}</td>
                    <td>{{book.bookname}}</td>
                    <td>{{book.requestbook}}</td>
                    <td>{{book.bookissuedetails}}</td>
                    <td>{{book.issuedate}}</td>
                    <td>{{book.studentname}}</td>
                    <td>{{book.returnbook}}</td>
                    <td>{{book.returndate}}</td>
                    <td>{{book.bookstatus}}</td>
                    <td>{{book.collegename}}</td>
                    <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delBook(book.bid)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                  </tr>
                  </tbody>
              </table><br><br>
 
              </div>
        </div>
        </div>
    </div>
