<title>Student View Timetable</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <div class="container-fluid">
        <h1 style="text-align: center;font-size: 50px;color:black;">ERP COLLEGE MANAGEMENT</h1><br>
        <h1 style="text-align: center;font-size: 40px;color:black;">{{student.collegename | uppercase}}</h1><br>
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link" routerLink="/studentprofile/{{student.admno}}">View Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/studentviewbooks/{{student.admno}}">View Books Of College</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/studentviewtimetable/{{student.admno}}">View Timetable</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/studentviewassignments/{{student.admno}}">View Assignments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/studentviewresults/{{student.admno}}">View Uploaded Results</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/studentviewattendance/{{student.admno}}">View Attendance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/studentviewevents/{{student.admno}}">View Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/studentlogin">Logout</a>
          </li>
        </ul><br><br><br>
        <h3 style="color:maroon;">Student {{student.studusername}} Logged in...</h3>
        <div style="padding:3% 3%;margin: auto;background-color:lightgoldenrodyellow;">
        <div class="container-fluid">
          <h1 style="text-align: center;">VIEW TIMETABLE</h1><br>

          <h3 style="text-align: center;">Search Timetable By Timetable Id</h3>
          <br>
          <div class="form-group">
              <label for="search">Search By Timetable Id:</label><br>
              <input type="number" class="form-control" [(ngModel)]="search.a" placeholder="Search By Timetable Id" id="search" name="search"><br>
              <button class="btn btn-info btn-xs" (click)="searchById(search.a)"><span class="glyphicon glyphicon-remove"></span> Search</button><br>
            </div><br>
            <table class="table table-dark table-responsive-sm">
              <tr>
                  <th>Timetable Id</th>
                  <th>Exam Name</th>
                  <th>Course</th>
                  <th>Branch</th>
                  <th>Subject Code</th>
                  <th>Subject</th>
                  <th>Date Of Exam</th>
                  <th>Day Of Exam</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Venue</th>
                  <th>Collegename</th>
              </tr>
              <tr >
                <td>{{timetable.ttid}}</td>
                <td>{{timetable.examname}}</td>
                <td>{{timetable.course}}</td>
                <td>{{timetable.branch}}</td>
                <td>{{timetable.subcode}}</td>
                <td>{{timetable.subject}}</td>
                <td>{{timetable.dateofexam}}</td>
                <td>{{timetable.dayofexam}}</td>
                <td>{{timetable.fromtime | date:'shortTime'}}</td>
                <td>{{timetable.totime | date:'shortTime'}}</td>
                <td>{{timetable.venue}}</td>
                <td>{{timetable.collegename}}</td>
              </tr>
          </table>
          <br>

          <h3 style="text-align: center;">Exam Timetable</h3>
          <br>
          <button class="btn btn-info " (click)="getTimetable(student.collegename)">GET TIMETABLE</button><br>
          <table class="table table-dark table-responsive-sm">
            <thead>
            <tr>
              <th>Timetable Id</th>
              <th>Exam Name</th>
              <th>Course</th>
              <th>Branch</th>
              <th>Subject Code</th>
              <th>Subject</th>
              <th>Date Of Exam</th>
              <th>Day Of Exam</th>
              <th>From</th>
              <th>To</th>
              <th>Venue</th>
              <th>Collegename</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let timetable of timetables">
              <td>{{timetable.ttid}}</td>
                    <td>{{timetable.examname}}</td>
                    <td>{{timetable.course}}</td>
                    <td>{{timetable.branch}}</td>
                    <td>{{timetable.subcode}}</td>
                    <td>{{timetable.subject}}</td>
                    <td>{{timetable.dateofexam}}</td>
                    <td>{{timetable.dayofexam}}</td>
                    <td>{{timetable.fromtime | date:'shortTime'}}</td>
                    <td>{{timetable.totime | date:'shortTime'}}</td>
                    <td>{{timetable.venue}}</td>
                    <td>{{timetable.collegename}}</td>
            </tr>
            </tbody>
        </table><br><br>


          </div>
        </div>
    </div>