<title>Add Assignment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <div class="container-fluid">
        <h1 style="text-align: center;font-size: 50px;color:black;">ERP COLLEGE MANAGEMENT</h1><br>
        <h1 style="text-align: center;font-size: 40px;color:black;">{{teacher.collegename | uppercase}}</h1><br>
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link" routerLink="/teacherprofile/{{teacher.tid}}">View Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/teacheraddassignment/{{teacher.tid}}">Add Assignment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/teacheraddattendance/{{teacher.tid}}">Add Attendance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/teacheruploadresults/{{teacher.tid}}">Upload Results</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/teacherviewevent/{{teacher.tid}}">View Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/teacherlogin">Logout</a>
          </li>
        </ul><br><br><br>
        <h3 style="color:maroon;">Teacher {{teacher.teacherusername}} Logged in...</h3>
        <div style="padding:3% 3%;margin: auto;background-color:lightgoldenrodyellow;">
        <div class="container-fluid">
          <h1 style="text-align: center;">ADD ASSIGNMENT</h1><br>
          <div class="row">
          <div class="col-sm-4">
            <div style="margin:auto;border:2px solid white;border-radius:5px;padding: 10px;">
              <h3 style="text-align: center;">Assignment Details(All information required*)</h3>
                <form action="#" post="method">
                  <div class="form-group">
                    <label for="aid">Assignment Id:</label><br>
                    <input type="number" class="form-control" [(ngModel)]="assignment.aid" placeholder="Enter Assignment Id while updating Only" id="aid" name="aid">
                  </div><br>
                  <div class="form-group">
                    <label for="assignmentname">Assignment Name:</label><br>
                    <input type="text" class="form-control" [(ngModel)]="assignment.assignmentname" placeholder="Enter Assignment Name" id="assignmentname" name="assignmentname" required>
                  </div><br>  
                    <div class="form-group">
                        <label for="givendate">Given Date:</label><br>
                        <input type="datetime-local" class="form-control" [(ngModel)]="assignment.givendate" placeholder="Enter Given Date" id="givendate" name="givendate" required>
                      </div><br>
                      <div class="form-group">
                        <label for="submitdate">Submit Date:</label><br>
                        <input type="datetime-local" class="form-control" [(ngModel)]="assignment.submitdate" placeholder="Enter Submit Date" id="submitdate" name="submitdate" required>
                      </div><br>
                      <div class="form-group">
                        <label for="faculty">Faculty:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="assignment.faculty" placeholder="Enter Faculty Name" id="faculty" name="faculty" required>
                      </div><br>
                      <div class="form-group">
                        <label for="collegename">College Name:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="assignment.collegename" placeholder="Enter College Name" id="collegename" name="collegename" required>
                      </div><br>
                      <div class="form-group">
                        <label for="marks">Maximum Marks:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="assignment.marks" placeholder="Enter Maximum Marks" id="marks" name="marks" required>
                      </div><br>
                    <input type="submit" class="btn btn-primary" style="width:45%;font-size:30px;background-color:blue;color:white;" value="Register" (click)="assignmentNow()">
                    <input type="submit" class="btn btn-success" style="width:45%;font-size:30px;background-color:coral;color:white;" value="Update" (click)="updateAssignmentNow()"><br>
                
                </form>
                </div>
              </div><br><br><br><br><br>
              <div class="col-sm-8">
                <h3 style="text-align: center;">Search Assignment By Assignment Id</h3>
                <br>
                <div class="form-group">
                    <label for="search">Search By Assignment Id:</label><br>
                    <input type="number" class="form-control" [(ngModel)]="search.a" placeholder="Search By Assignment Id" id="search" name="search"><br>
                    <button class="btn btn-info btn-xs" (click)="searchById(search.a)"><span class="glyphicon glyphicon-remove"></span> Search</button><br>
                  </div><br>
                  <table class="table table-dark table-responsive-sm">
                    <tr>
                        <th>AId</th>
                        <th>Assignment Name</th>
                        <th>Given Date</th>
                        <th>Submit Date</th>
                        <th>Faculty</th>
                        <th>Collegename</th>
                        <th>Marks</th>
                        <th>Delete</th>
                    </tr>
                    <tr >
                        <td>{{assignment.aid}}</td>
                        <td>{{assignment.assignmentname}}</td>
                        <td>{{assignment.givendate}}</td>
                        <td>{{assignment.submitdate}}</td>
                        <td>{{assignment.faculty}}</td>
                        <td>{{assignment.collegename}}</td>
                        <td>{{assignment.marks}}</td>
                        <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delAssignment(assignment.aid)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                    </tr>
                </table>
                <br>

                <h3 style="text-align: center;">Assignment Details</h3>
                <br>
                <button class="btn btn-info " (click)="getAssignments(teacher.collegename)">GET ASSIGNMENTS</button><br>
                <table class="table table-dark table-responsive-sm">
                  <thead>
                  <tr>
                    <th>AId</th>
                    <th>Assignment Name</th>
                    <th>Given Date</th>
                    <th>Submit Date</th>
                    <th>Faculty</th>
                    <th>Collegename</th>
                    <th>Marks</th>
                    <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let assignment of assignments">
                    <td>{{assignment.aid}}</td>
                    <td>{{assignment.assignmentname}}</td>
                    <td>{{assignment.givendate}}</td>
                    <td>{{assignment.submitdate}}</td>
                    <td>{{assignment.faculty}}</td>
                    <td>{{assignment.collegename}}</td>
                    <td>{{assignment.marks}}</td>
                    <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delAssignment(assignment.aid)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                  </tr>
                  </tbody>
              </table><br><br>
 
              </div>
        </div>
        </div>
    </div>

